## Rodovias

In [1]:
import pandas as pd
import numpy as np

In [10]:
df_acidentes = pd.read_csv('C:/Users/JeffersonKauanCavalc/OneDrive - ILOS/Documentos/Trabalho Deep/src/data/renaest_dabertos_20251112/Acidentes_DadosAbertos_20251112.csv',sep=';',encoding='latin1')

C:\Users\JeffersonKauanCavalc\AppData\Local\Temp\ipykernel_22584\1351560201.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_acidentes = pd.read_csv('C:/Users/JeffersonKauanCavalc/OneDrive - ILOS/Documentos/Trabalho Deep/src/data/renaest_dabertos_20251112/Acidentes_DadosAbertos_20251112.csv',sep=';',encoding='latin1')

In [11]:
df_acidentes

,num_acidente,chv_localidade,data_acidente,uf_acidente,ano_acidente,mes_acidente,mes_ano_acidente,codigo_ibge,dia_semana,fase_dia,...,lim_velocidade,tp_pista,ind_guardrail,ind_cantcentral,ind_acostamento,qtde_acidente,qtde_acid_com_obitos,qtde_envolvidos,qtde_feridosilesos,qtde_obitos
0,6375817,AC1200401201801,2018-01-02,AC,2018,1,12018,1200401,TERCA-FEIRA,MANHA,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,5,5,0
1,2218504,AC1200203201801,2018-01-31,AC,2018,1,12018,1200203,QUARTA-FEIRA,TARDE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,1,1,0
2,6534840,AC1200401201801,2018-01-31,AC,2018,1,12018,1200401,QUARTA-FEIRA,TARDE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0
3,5272343,AC1200203201801,2018-01-30,AC,2018,1,12018,1200203,TERCA-FEIRA,TARDE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0
4,5805947,AC1200401201801,2018-01-31,AC,2018,1,12018,1200401,QUARTA-FEIRA,DESCONHECIDO,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7868529,7598344,TO1708205202507,2025-07-24,TO,2025,7,72025,1708205,QUINTA-FEIRA,TARDE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,3,3,0
7868530,6635318,TO1714203202507,2025-07-21,TO,2025,7,72025,1714203,SEGUNDA-FEIRA,TARDE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0
7868531,3694579,TO1702109202507,2025-07-29,TO,2025,7,72025,1702109,TERCA-FEIRA,NOITE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,3,3,0
7868532,664999,TO1712504202507,2025-07-10,TO,2025,7,72025,1712504,QUINTA-FEIRA,MADRUGADA,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,1,1,0
7868533,6309991,TO1707009202507,2025-07-20,TO,2025,7,72025,1707009,DOMINGO,TARDE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0

In [12]:
df_acidentes.columns

Index(['num_acidente', 'chv_localidade', 'data_acidente', 'uf_acidente',
       'ano_acidente', 'mes_acidente', 'mes_ano_acidente', 'codigo_ibge',
       'dia_semana', 'fase_dia', 'tp_acidente', 'cond_meteorologica',
       'end_acidente', 'num_end_acidente', 'cep_acidente', 'bairro_acidente',
       'km_via_acidente', 'latitude_acidente', 'longitude_acidente',
       'hora_acidente', 'tp_rodovia', 'cond_pista', 'tp_cruzamento',
       'tp_pavimento', 'tp_curva', 'lim_velocidade', 'tp_pista',
       'ind_guardrail', 'ind_cantcentral', 'ind_acostamento', 'qtde_acidente',
       'qtde_acid_com_obitos', 'qtde_envolvidos', 'qtde_feridosilesos',
       'qtde_obitos'],
      dtype='object')

In [13]:
df_acidentes.drop(columns=['lim_velocidade','tp_pista','ind_guardrail','ind_cantcentral','ind_acostamento','qtde_envolvidos','qtde_feridosilesos','tp_rodovia','tp_cruzamento','tp_pavimento','tp_curva'],inplace=True)

In [ ]:
df_acidentes

,num_acidente,chv_localidade,data_acidente,uf_acidente,ano_acidente,mes_acidente,mes_ano_acidente,codigo_ibge,dia_semana,fase_dia,...,cep_acidente,bairro_acidente,km_via_acidente,latitude_acidente,longitude_acidente,hora_acidente,cond_pista,qtde_acidente,qtde_acid_com_obitos,qtde_obitos
0,6375817,AC1200401201801,2018-01-02,AC,2018,1,12018,1200401,TERCA-FEIRA,MANHA,...,0,CIDADE NOVA,0,NaN,NaN,111500,SECA,1,0,0
1,2218504,AC1200203201801,2018-01-31,AC,2018,1,12018,1200203,QUARTA-FEIRA,TARDE,...,0,NaN,0,NaN,NaN,150000,SECA,1,0,0
2,6534840,AC1200401201801,2018-01-31,AC,2018,1,12018,1200401,QUARTA-FEIRA,TARDE,...,0,ESTACAO EXPERIMENTAL,0,NaN,NaN,140400,SECA,1,0,0
3,5272343,AC1200203201801,2018-01-30,AC,2018,1,12018,1200203,TERCA-FEIRA,TARDE,...,0,NaN,0,NaN,NaN,164000,SECA,1,0,0
4,5805947,AC1200401201801,2018-01-31,AC,2018,1,12018,1200401,QUARTA-FEIRA,DESCONHECIDO,...,0,CENTRO,0,NaN,NaN,0,SECA,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7868529,7598344,TO1708205202507,2025-07-24,TO,2025,7,72025,1708205,QUINTA-FEIRA,TARDE,...,0,NaN,0,-11.801263,-49.528823,142700,NAO INFORMADO,1,0,0
7868530,6635318,TO1714203202507,2025-07-21,TO,2025,7,72025,1714203,SEGUNDA-FEIRA,TARDE,...,0,NaN,0,-11.687874,-47.722516,125500,NAO INFORMADO,1,0,0
7868531,3694579,TO1702109202507,2025-07-29,TO,2025,7,72025,1702109,TERCA-FEIRA,NOITE,...,0,NaN,0,-7.195772,-48.203621,220200,NAO INFORMADO,1,0,0
7868532,664999,TO1712504202507,2025-07-10,TO,2025,7,72025,1712504,QUINTA-FEIRA,MADRUGADA,...,0,NaN,0,-9.761570,-49.395725,4100,NAO INFORMADO,1,0,0
7868533,6309991,TO1707009202507,2025-07-20,TO,2025,7,72025,1707009,DOMINGO,TARDE,...,0,NaN,0,-11.853672,-46.882166,124800,NAO INFORMADO,1,0,0

In [4]:
df_localidade = pd.read_csv('C:/Users/JeffersonKauanCavalc/OneDrive - ILOS/Documentos/Trabalho Deep/src/data/renaest_dabertos_20251112/Localidade_DadosAbertos_20251112.csv',sep=';',encoding='latin1')

In [5]:
df_localidade

,chv_localidade,ano_referencia,mes_referencia,mes_ano_referencia,regiao,uf,codigo_ibge,municipio,regiao_metropolitana,qtde_habitantes,frota_total,frota_circulante
0,AC1200328201801,2018,1,12018,NORTE,AC,1200328,JORDAO,nao,8011,116,81
1,AC1200385201801,2018,1,12018,NORTE,AC,1200385,PLACIDO DE CASTRO,nao,19111,4887,3633
2,AC1200708201801,2018,1,12018,NORTE,AC,1200708,XAPURI,nao,18684,4003,2899
3,AC1200401201801,2018,1,12018,NORTE,AC,1200401,RIO BRANCO,nao,393618,159867,114542
4,AC1200344201801,2018,1,12018,NORTE,AC,1200344,MANOEL URBANO,nao,9141,1150,963
...,...,...,...,...,...,...,...,...,...,...,...,...
509322,TO1715101202507,2025,7,72025,NORTE,TO,1715101,NOVO ACORDO,nao,3779,1384,1015
509323,TO1718006202507,2025,7,72025,NORTE,TO,1718006,PORTO ALEGRE DO TOCANTINS,nao,2631,859,660
509324,TO1714203202507,2025,7,72025,NORTE,TO,1714203,NATIVIDADE,nao,9195,4481,3424
509325,TO1702208202507,2025,7,72025,NORTE,TO,1702208,ARAGUATINS,nao,32160,15307,11335
509326,TO1711506202507,2025,7,72025,NORTE,TO,1711506,JAU DO TOCANTINS,nao,3025,1357,1017

In [17]:
df_localidade.drop(columns=['codigo_ibge','regiao_metropolitana','qtde_habitantes','frota_total','frota_circulante','regiao','mes_ano_referencia'],inplace=True)

In [29]:
df_periculosidade = df_acidentes.merge(df_localidade,how='left',on='chv_localidade')

In [30]:
df_periculosidade = df_periculosidade[df_periculosidade['ano_acidente']>=2020]

In [31]:
df_periculosidade.drop(columns=['mes_ano_acidente','codigo_ibge','longitude_acidente','hora_acidente','ano_referencia','mes_referencia','uf','num_end_acidente','cep_acidente','bairro_acidente','km_via_acidente','latitude_acidente','num_acidente','end_acidente'],inplace=True)

In [32]:
df_periculosidade

,chv_localidade,data_acidente,uf_acidente,ano_acidente,mes_acidente,dia_semana,fase_dia,tp_acidente,cond_meteorologica,cond_pista,qtde_acidente,qtde_acid_com_obitos,qtde_obitos,municipio
8824,AC1200401202001,2020-01-01,AC,2020,1,QUARTA-FEIRA,NOITE,COLISAO,GAROACHUVISCO,MOLHADA,1,0,0,RIO BRANCO
8825,AC1200401202001,2020-01-03,AC,2020,1,SEXTA-FEIRA,TARDE,COLISAO,GAROACHUVISCO,MOLHADA,1,0,0,RIO BRANCO
8826,AC1200401202001,2020-01-30,AC,2020,1,QUINTA-FEIRA,TARDE,COLISAO,CLARO,SECA,1,0,0,RIO BRANCO
8827,AC1200203202001,2020-01-30,AC,2020,1,QUINTA-FEIRA,NOITE,COLISAO,CLARO,SECA,1,0,0,CRUZEIRO DO SUL
8828,AC1200401202001,2020-01-08,AC,2020,1,QUARTA-FEIRA,TARDE,COLISAO,CLARO,SECA,1,0,0,RIO BRANCO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7868529,TO1708205202507,2025-07-24,TO,2025,7,QUINTA-FEIRA,TARDE,COLISAO,NAO INFORMADO,NAO INFORMADO,1,0,0,FORMOSO DO ARAGUAIA
7868530,TO1714203202507,2025-07-21,TO,2025,7,SEGUNDA-FEIRA,TARDE,COLISAO,NAO INFORMADO,NAO INFORMADO,1,0,0,NATIVIDADE
7868531,TO1702109202507,2025-07-29,TO,2025,7,TERCA-FEIRA,NOITE,COLISAO,NAO INFORMADO,NAO INFORMADO,1,0,0,ARAGUAINA
7868532,TO1712504202507,2025-07-10,TO,2025,7,QUINTA-FEIRA,MADRUGADA,DESCONHECIDO,NAO INFORMADO,NAO INFORMADO,1,0,0,MARIANOPOLIS DO TOCANTINS
7868533,TO1707009202507,2025-07-20,TO,2025,7,DOMINGO,TARDE,COLISAO,NAO INFORMADO,NAO INFORMADO,1,0,0,DIANOPOLIS

## Frequência de acidentes

In [46]:
# Supondo que você tenha a coluna 'Município'
df_acidentes_agrupado = df_periculosidade.groupby('uf_acidente').agg(
    Total_Acidentes=('qtde_acidente', 'sum'),
    Total_Obitos=('qtde_obitos', 'sum')
).reset_index()

In [47]:
df_acidentes_agrupado

   uf_acidente  Total_Acidentes  Total_Obitos
0           AC            20359           274
1           AL            13300          3360
2           AM             4898           697
3           AP             5553            59
4           BA           240525         11127
5           CE            61451          3338
6           DF           285066          1391
7           ES           221673          3220
8           GO           522791          5290
9           MA            17926          3229
10          MG          1485381         11210
11          MS           115927           959
12          MT            22492          3434
13          PA           109829          3984
14          PB            12989          4175
15          PE            68641          7301
16          PI            50356          1909
17          PR           535734          6326
18          RJ            91932          7679
19          RN            14134          1176
20          RO            79751          2452
21          RR            20494           674
22          RS             5215          5209
23          SC           991998          5157
24          SE             5661           382
25          SP          1059146         30050
26          TO            24203          1261

In [48]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np

# Cria uma cópia da coluna para evitar erro SettingWithCopyWarning
df_acidentes_agrupado['Acidentes_Norm'] = df_acidentes_agrupado['Total_Acidentes']

# Trata casos onde Acidentes é zero para evitar divisão por zero
df_acidentes_agrupado['Gravidade'] = np.where(df_acidentes_agrupado['Total_Acidentes'] == 0, 0, 
                           df_acidentes_agrupado['Total_Obitos'] / df_acidentes_agrupado['Total_Acidentes'])

# 1. Normaliza a Gravidade e a Frequência Bruta para a escala de 0 a 1
scaler = MinMaxScaler()
df_acidentes_agrupado['Frequencia_Norm'] = scaler.fit_transform(df_acidentes_agrupado[['Acidentes_Norm']])
df_acidentes_agrupado['Gravidade_Norm'] = scaler.fit_transform(df_acidentes_agrupado[['Gravidade']])

# 2. Combina as duas métricas com pesos iguais (50/50)
df_acidentes_agrupado['Índice_Risco_Simples'] = (0.50 * df_acidentes_agrupado['Frequencia_Norm']) + (0.50 * df_acidentes_agrupado['Gravidade_Norm'])

In [49]:
df_acidentes_agrupado

,uf_acidente,Total_Acidentes,Total_Obitos,Acidentes_Norm,Gravidade,Frequencia_Norm,Gravidade_Norm,Índice_Risco_Simples
0,AC,20359,274,20359,0.013458,0.010443,0.008631,0.009537
1,AL,13300,3360,13300,0.252632,0.005675,0.249255,0.127465
2,AM,4898,697,4898,0.142303,0.000000,0.138257,0.069129
3,AP,5553,59,5553,0.010625,0.000442,0.005780,0.003111
4,BA,240525,11127,240525,0.046261,0.159155,0.041633,0.100394
5,CE,61451,3338,61451,0.054320,0.038199,0.049740,0.043970
6,DF,285066,1391,285066,0.004880,0.189241,0.000000,0.094620
7,ES,221673,3220,221673,0.014526,0.146422,0.009705,0.078063
8,GO,522791,5290,522791,0.010119,0.349814,0.005271,0.177542
9,MA,17926,3229,17926,0.180129,0.008800,0.176313,0.092556
10,MG,1485381,11210,1485381,0.007547,1.000000,0.002683,0.501342
11,MS,115927,959,115927,0.008272,0.074995,0.003413,0.039204
12,MT,22492,3434,22492,0.152677,0.011884,0.148694,0.080289
13,PA,109829,3984,109829,0.036275,0.070876,0.031585,0.051231
14,PB,12989,4175,12989,0.321426,0.005465,0.318467,0.161966
15,PE,68641,7301,68641,0.106365,0.043056,0.102101,0.072578
16,PI,50356,1909,50356,0.037910,0.030705,0.033231,0.031968
17,PR,535734,6326,535734,0.011808,0.358556,0.006971,0.182763
18,RJ,91932,7679,91932,0.083529,0.058788,0.079127,0.068957
19,RN,14134,1176,14134,0.083204,0.006239,0.078799,0.042519
20,RO,79751,2452,79751,0.030746,0.050560,0.026023,0.038291
21,RR,20494,674,20494,0.032888,0.010534,0.028178,0.019356
22,RS,5215,5209,5215,0.998849,0.000214,1.000000,0.500107
23,SC,991998,5157,991998,0.005199,0.666742,0.000321,0.333531
24,SE,5661,382,5661,0.067479,0.000515,0.062979,0.031747
25,SP,1059146,30050,1059146,0.028372,0.712097,0.023635,0.367866
26,TO,24203,1261,24203,0.052101,0.013040,0.047508,0.030274

In [50]:
df_acidentes_agrupado['Classificacao_Risco'] = pd.qcut(
    df_acidentes_agrupado['Índice_Risco_Simples'],
    q=5, # Divide em 5 grupos (quintis)
    labels=[1, 2, 3, 4, 5], # Atribui os rótulos de 1 a 5
    duplicates='drop' # Ignora grupos se houver muitos valores idênticos
)

In [51]:
df_acidentes_agrupado

,uf_acidente,Total_Acidentes,Total_Obitos,Acidentes_Norm,Gravidade,Frequencia_Norm,Gravidade_Norm,Índice_Risco_Simples,Classificacao_Risco
0,AC,20359,274,20359,0.013458,0.010443,0.008631,0.009537,1
1,AL,13300,3360,13300,0.252632,0.005675,0.249255,0.127465,4
2,AM,4898,697,4898,0.142303,0.000000,0.138257,0.069129,3
3,AP,5553,59,5553,0.010625,0.000442,0.005780,0.003111,1
4,BA,240525,11127,240525,0.046261,0.159155,0.041633,0.100394,4
5,CE,61451,3338,61451,0.054320,0.038199,0.049740,0.043970,2
6,DF,285066,1391,285066,0.004880,0.189241,0.000000,0.094620,4
7,ES,221673,3220,221673,0.014526,0.146422,0.009705,0.078063,3
8,GO,522791,5290,522791,0.010119,0.349814,0.005271,0.177542,5
9,MA,17926,3229,17926,0.180129,0.008800,0.176313,0.092556,4
10,MG,1485381,11210,1485381,0.007547,1.000000,0.002683,0.501342,5
11,MS,115927,959,115927,0.008272,0.074995,0.003413,0.039204,2
12,MT,22492,3434,22492,0.152677,0.011884,0.148694,0.080289,3
13,PA,109829,3984,109829,0.036275,0.070876,0.031585,0.051231,2
14,PB,12989,4175,12989,0.321426,0.005465,0.318467,0.161966,4
15,PE,68641,7301,68641,0.106365,0.043056,0.102101,0.072578,3
16,PI,50356,1909,50356,0.037910,0.030705,0.033231,0.031968,1
17,PR,535734,6326,535734,0.011808,0.358556,0.006971,0.182763,5
18,RJ,91932,7679,91932,0.083529,0.058788,0.079127,0.068957,3
19,RN,14134,1176,14134,0.083204,0.006239,0.078799,0.042519,2
20,RO,79751,2452,79751,0.030746,0.050560,0.026023,0.038291,2
21,RR,20494,674,20494,0.032888,0.010534,0.028178,0.019356,1
22,RS,5215,5209,5215,0.998849,0.000214,1.000000,0.500107,5
23,SC,991998,5157,991998,0.005199,0.666742,0.000321,0.333531,5
24,SE,5661,382,5661,0.067479,0.000515,0.062979,0.031747,1
25,SP,1059146,30050,1059146,0.028372,0.712097,0.023635,0.367866,5
26,TO,24203,1261,24203,0.052101,0.013040,0.047508,0.030274,1

In [52]:
df_acidentes_simples = df_acidentes_agrupado.copy()

In [53]:
df_acidentes_simples = df_acidentes_simples[['uf_acidente','Classificacao_Risco']]

In [54]:
df_acidentes_simples.to_parquet('df_acidentes.parquet',index=False)