## Dados Externos

### Bibliotecas

In [1]:
import pandas as pd
import numpy as np

### Desemprego

In [2]:
# Desemprego
df_desemprego = pd.read_csv('C:/Users/JeffersonKauanCavalc/OneDrive - ILOS/Documentos/Trabalho Deep/src/data/Dados Externos/20251120033438.csv',sep=';',encoding='latin1',header=1)

In [3]:
df_desemprego

,,,jan-fev-mar 2012,fev-mar-abr 2012,mar-abr-mai 2012,abr-mai-jun 2012,mai-jun-jul 2012,jun-jul-ago 2012,jul-ago-set 2012,ago-set-out 2012,set-out-nov 2012,...,out-nov-dez 2024,nov-dez-jan 2025,dez-jan-fev 2025,jan-fev-mar 2025,fev-mar-abr 2025,mar-abr-mai 2025,abr-mai-jun 2025,mai-jun-jul 2025,jun-jul-ago 2025,jul-ago-set 2025
Brasil,8.0,7.8,7.7,7.6,7.5,7.3,7.1,6.9,6.8,6.9,7.2,...,6.8,7.0,6.6,6.2,5.8,5.6,5.6,5.6,5.6,5.6
"Fonte: ""IBGE - Pesquisa Nacional por Amostra de DomicÃ­lios ContÃ­nua mensal""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_desemprego.columns

Index([' ', 'jan-fev-mar 2012', 'fev-mar-abr 2012', 'mar-abr-mai 2012',
       'abr-mai-jun 2012', 'mai-jun-jul 2012', 'jun-jul-ago 2012',
       'jul-ago-set 2012', 'ago-set-out 2012', 'set-out-nov 2012',
       ...
       'out-nov-dez 2024', 'nov-dez-jan 2025', 'dez-jan-fev 2025',
       'jan-fev-mar 2025', 'fev-mar-abr 2025', 'mar-abr-mai 2025',
       'abr-mai-jun 2025', 'mai-jun-jul 2025', 'jun-jul-ago 2025',
       'jul-ago-set 2025'],
      dtype='object', length=164)

In [5]:
df_longo = df_desemprego.melt(
    # Coluna que você quer manter fixa (a coluna 'Brasil' ou 'Local')
    id_vars=[' '], 
    
    # Nome da nova coluna que terá o nome do mês/ano (jan-2012, fev-2012, etc.)
    var_name='Ano_Mês', 
    
    # Nome da nova coluna que terá o valor da taxa de desemprego (8, 7.7, etc.)
    value_name='Taxa_Desemprego'
)

# Remova linhas que ainda contenham valores NaN na taxa de desemprego (dados que não existiam)
df_longo.dropna(subset=['Taxa_Desemprego'], inplace=True)

In [6]:
df_longo.rename(columns={' ':'Local'},inplace= True
                )

In [7]:
df_longo

     Local           Ano_Mês  Taxa_Desemprego
0      7.8  jan-fev-mar 2012              7.7
2      7.8  fev-mar-abr 2012              7.6
4      7.8  mar-abr-mai 2012              7.5
6      7.8  abr-mai-jun 2012              7.3
8      7.8  mai-jun-jul 2012              7.1
..     ...               ...              ...
316    7.8  mar-abr-mai 2025              5.6
318    7.8  abr-mai-jun 2025              5.6
320    7.8  mai-jun-jul 2025              5.6
322    7.8  jun-jul-ago 2025              5.6
324    7.8  jul-ago-set 2025              5.6

[163 rows x 3 columns]

In [8]:
# 1. Extrair o Ano (Já feito anteriormente)
# Divide no espaço (último), pega a segunda parte
df_longo['Ano'] = df_longo['Ano_Mês'].str.split(' ').str[-1].astype(int)

# 2. Extrair a string do Mês (ex: 'jan-fev-mar')
df_longo['Meses_Rolling'] = df_longo['Ano_Mês'].str.split(' ').str[0]

In [9]:
df_longo['Mês_Referencia_Nome'] = df_longo['Meses_Rolling'].str.split('-').str[0]

# 4. Converter o nome do mês para número para o merge
mapeamento_meses = {
    'jan': 1, 'fev': 2, 'mar': 3, 'abr': 4, 'mai': 5, 'jun': 6,
    'jul': 7, 'ago': 8, 'set': 9, 'out': 10, 'nov': 11, 'dez': 12
}
df_longo['Mês_numero'] = df_longo['Mês_Referencia_Nome'].map(mapeamento_meses)

In [10]:
df_longo

,Local,Ano_Mês,Taxa_Desemprego,Ano,Meses_Rolling,Mês_Referencia_Nome,Mês_numero
0,7.8,jan-fev-mar 2012,7.7,2012,jan-fev-mar,jan,1
2,7.8,fev-mar-abr 2012,7.6,2012,fev-mar-abr,fev,2
4,7.8,mar-abr-mai 2012,7.5,2012,mar-abr-mai,mar,3
6,7.8,abr-mai-jun 2012,7.3,2012,abr-mai-jun,abr,4
8,7.8,mai-jun-jul 2012,7.1,2012,mai-jun-jul,mai,5
...,...,...,...,...,...,...,...
316,7.8,mar-abr-mai 2025,5.6,2025,mar-abr-mai,mar,3
318,7.8,abr-mai-jun 2025,5.6,2025,abr-mai-jun,abr,4
320,7.8,mai-jun-jul 2025,5.6,2025,mai-jun-jul,mai,5
322,7.8,jun-jul-ago 2025,5.6,2025,jun-jul-ago,jun,6
324,7.8,jul-ago-set 2025,5.6,2025,jul-ago-set,jul,7

In [11]:
df_longo.drop(columns=['Ano_Mês','Meses_Rolling'],inplace=True)

In [12]:
df_longo2 = df_longo[['Mês_numero','Mês_Referencia_Nome','Ano','Taxa_Desemprego']]

In [13]:
df_longo2 = df_longo2[df_longo2['Ano']>=2020]

In [14]:
df_desemprego2 = df_longo2.copy()

In [16]:
df_desemprego2.tail()

     Mês_numero Mês_Referencia_Nome   Ano  Taxa_Desemprego
316           3                 mar  2025              5.6
318           4                 abr  2025              5.6
320           5                 mai  2025              5.6
322           6                 jun  2025              5.6
324           7                 jul  2025              5.6

In [102]:
df_desemprego2.to_parquet('df_desemprego.parquet',index=False)

### IPCA

In [3]:
#IPCA

df_ipca = pd.read_csv('C:/Users/JeffersonKauanCavalc/OneDrive - ILOS/Documentos/Trabalho Deep/src/data/Dados Externos/ipca.csv',sep=',')

### DOLAR

In [7]:
#Dolar
df_dolar = pd.read_csv('C:/Users/JeffersonKauanCavalc/OneDrive - ILOS/Documentos/Trabalho Deep/src/data/Dados Externos/STP-20251120115353227.csv',sep=';',encoding='latin1')

In [8]:
df_dolar

,Data,1 - Taxa de câmbio - Livre - Dólar americano (venda) - diário - u.m.c./US$
0,02/01/2020,"4,0213"
1,03/01/2020,"4,0522"
2,06/01/2020,"4,0554"
3,07/01/2020,"4,0841"
4,08/01/2020,"4,0672"
...,...,...
1475,14/11/2025,"5,2952"
1476,17/11/2025,"5,3108"
1477,18/11/2025,"5,3361"
1478,19/11/2025,"5,3346"
1479,Fonte,Sisbacen PTAX800

In [10]:
df_dolar['Data'] = pd.to_datetime(df_dolar['Data'], format='%d/%m/%Y',errors='coerce')

In [12]:
# Cria uma nova coluna 'Mês' extraindo o número do mês
df_dolar['Mês'] = df_dolar['Data'].dt.month

In [19]:
df_dolar['Ano'] = df_dolar['Data'].dt.year

In [20]:
df_dolar['Nome_Mês'] = df_dolar['Data'].dt.strftime('%B')

In [25]:
df_dolar.rename(columns={'1 - Taxa de câmbio - Livre - Dólar americano (venda) - diário - u.m.c./US$':'Valor'},inplace=True)

In [22]:
df_dolar.dropna(subset=['Data'], inplace=True)

In [31]:
df_dolar['Valor'] = df_dolar['Valor'].str.replace(',', '.', regex=False)

In [32]:
df_dolar['Valor'] = df_dolar['Valor'].astype('float16')

In [33]:
df_mensal = df_dolar.groupby(['Ano', 'Mês']).agg(
    # Calcula a média de uma coluna 'Cotação_Dolar'
    Media_Dolar=('Valor', 'mean'), 
).reset_index()

In [35]:
df_mensal['Mês'] = df_mensal['Mês'].astype('int16')

In [38]:
mês_numero = {
     1: 'Janeiro',
     2: 'Fevereiro',
     3: 'Março',
     4: 'Abril',
     5: 'Maio',
    6: 'Junho',
    7: 'Julho',
    8: 'Agosto',
    9: 'Setembro',
    10: 'Outubro',
    11: 'Novembro',
    12: 'Dezembro'
}

In [39]:
df_mensal['Mês_Nome'] = df_mensal['Mês'].map(mês_numero)

In [40]:
df_mensal

     Ano  Mês  Media_Dolar   Mês_Nome
0   2020    1     4.149681    Janeiro
1   2020    2     4.341146  Fevereiro
2   2020    3     4.883523      Março
3   2020    4     5.325781      Abril
4   2020    5     5.643750       Maio
..   ...  ...          ...        ...
66  2025    7     5.528363      Julho
67  2025    8     5.447173     Agosto
68  2025    9     5.367720   Setembro
69  2025   10     5.385700    Outubro
70  2025   11     5.327224   Novembro

[71 rows x 4 columns]

In [41]:
df_mensal.to_parquet('df_mensal_dolar.parquet',index=False)

### PIB

In [9]:
# Variação PIB

df_pib = pd.read_csv('C:/Users/JeffersonKauanCavalc/OneDrive - ILOS/Documentos/Trabalho Deep/src/data/Dados Externos/variação-do-pib.csv',sep=',')